# Backend Configuration
FLASK_ENV=production
FLASK_APP=app.py
FLASK_DEBUG=0

# Supabase Configuration
SUPABASE_URL=https://trmulthiyjshlxiqpebu.supabase.co
SUPABASE_KEY=sb_publishable_HfCcv97LN_44odIcm6mS1g_2m5_2z3e

# CORS
FLASK_CORS_ORIGINS=http://localhost:3000,https://control-panini.netlify.app
